# personal notes/todos
notes.md
.idea/

# VS Code project directory, not necessary to git.
.vscode

# Tests directories and files
**__test__
**test.sh

# Backup directories
**.bu

# Logs
**.log

# Why u be like that
*.DS_Store

# Folder view configuration files.
Desktop.ini

# Thumbnail cache files.
._*
Thumbs.db

# Files that might appear on external disks.
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
TheVolumeSettingsFolder

# Environment files
**.env
**.env.sh

# Vim undo history
**.vimrc.un~

# Lua stuff
.luarocks/
luacov.*
